/.vscode
/1-studyhours.csv
/10-diamond.ipynb
/10-diamonds.csv
/11-Naive_Bayes_Theorem_ML_Algorithm.pdf
/2-multiplegradesdataset.csv
/3-customersatisfaction.csv
/3-newdatas.csv
/forest.csv
/forest.ipynb
/lazypre.ipynb
/stud.ipynb
/stud2.ipynb
/studyy.ipynb